@require '../../css/requires/reset'
@require '../../css/requires/fonts'

html, body
  height: 100%

body
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
  font-weight: 300
  font-smoothing: antialiased
  text-rendering: optimizeLegibility
  background: #171717 url(/images/bg.jpg) no-repeat
  background-position: center center
  background-size: cover
  background-attachment: fixed


.view.application
  position: relative
  top: 0
  display: block
  width: 100%
  .main
    padding-top: 80px
