@font-face
  font-family 'intro'
  font-style normal
  font-weight 200
  src: url('/fonts/intro.otf') format('opentype');
  font-smoothing antialiased
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

font-intro()
  font-family 'intro'
